* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body {
    background-color: #001022;
    color: lightgrey;
}

a {
    text-decoration: none;
    color: lightgrey;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

section {
    height: 100vh;
    scroll-snap-align: center;
}
